/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@100..900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --red-color: hsl(0, 71%, 42%);
  --green-color: hsl(166, 90%, 40%);
  --blue-color: hsl(204, 90%, 50%);
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(210, 8%, 8%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --second-font: "Dancing Script", cursive;
  --biggest-font-size: 5rem;
  --big-font-size: 2rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 15rem;
    --big-font-size: 6rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--white-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.main {
  overflow: hidden;
}

/* Car red */
.car__orange {
  --color-car: var(--red-color);
}
/*  */
.car__green {
  --color-car: var(--green-color);
}

.car__blue {
  --color-car: var(--blue-color);
}

/*=============== HEADER & NAV ===============*/

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--red-color);
  z-index: var(--z-fixed);
}
.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__link {
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
}

.nav__toggle,
.nav__close {
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
  border: 2px solid var(--white-color);
  border-radius: 50%;
  font-size: 1.25rem;
  cursor: pointer;
}

.nav__menu {
  position: fixed;
  top: 0;
  right: -100%;
  background-color: hsla(210, 8%, 8%, 0.7);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  width: 80%;
  height: 100%;
  padding: 7rem 3.5rem 3.5rem;
  transition: right 0.4s;
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

/* Show menu */

/* Add blur header */

/*=============== HOME ===============*/

/* Swiper class */

/* Swiper animation */

/*=============== BREAKPOINTS ===============*/
/* For small devices */

/* For medium devices */

/* For large devices */

/* For taller devices */
