/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --red-color: hsl(0, 100%, 75%);
  --green-color: hsl(166, 90%, 40%);
  --blue-color: hsl(204, 90%, 50%);
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(210, 8%, 8%);

  /*========== Font and typography ==========*/
  --body-font: "Montserrat", sans-serif;
  --second-font: "Dancing Script", cursive;
  --biggest-font-size: 5rem;
  --big-font-size: 2rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 15rem;
    --big-font-size: 6rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--white-color);
  background-color: var(
    --black-color
  ); /* Set a background color for contrast */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 100%;
  margin-inline: 1.5rem;
}

.main {
  overflow: hidden;
}

/* network color classes */
.network__red {
  --color-network: var(--red-color);
}

.network__green {
  --color-network: var(--green-color);
}

.network__blue {
  --color-network: var(--blue-color);
}

/*=============== HEADER & NAV ===============*/

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--red-color);
  z-index: var(--z-fixed);
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Space between logo image and text */
}

.nav__logo-img {
  height: 60px; /* Adjust the height of the logo image */
  width: auto;
}

.nav__logo,
.nav__link {
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
}

.nav__toggle,
.nav__close {
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
  border: 2px solid var(--white-color);
  border-radius: 50%;
  font-size: 1.25rem;
  cursor: pointer;
}

.nav__menu {
  position: fixed;
  top: 0;
  right: -100%;
  background-color: hsla(210, 8%, 8%, 0.7);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  width: 80%;
  height: 100%;
  padding: 7rem 3.5rem 3.5rem;
  transition: right 0.4s;
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.nav__close {
  position: absolute;
  top: 0.8rem;
  right: 1.5rem;
}

/* Show menu */
.show-menu {
  right: 0;
}

/*=============== HOME ===============*/
.home__article {
  position: relative;
  padding-top: 12rem;
  width: 100%;
  height: 100vh;
}

.home__panel-1 {
  width: 100%;
  height: 40%;
  background-color: var(--color-network);
  position: absolute;
  left: 0;
  top: 0;
}

.home__panel-2 {
  width: 100%;
  height: 60%;
  background-color: var(--black-color);
  position: absolute;
  left: 0;
  bottom: 0;
}

.home__content {
  position: relative;
  height: 100%;
  display: grid;
  align-content: space-between;
  z-index: 1;
}

.home__data {
  position: relative;
}

.home__titles {
  width: max-content;
  margin-inline: auto;
}

.home__subtitle {
  font-size: var(--big-font-size);
  font-family: var(--second-font);
}

.home__title {
  font-size: var(--biggest-font-size);
}

.home__img {
  min-width: initial;
  width: 450px;
  position: absolute;
  left: 0;
  bottom: -7.5rem;
}

.home__info {
  padding-bottom: 3rem;
  text-align: center;
  display: grid;
  row-gap: 2rem;
}

.home__specs {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-weight: var(--font-semi-bold);
  color: var(--color-network);
}

.home__button {
  display: inline-flex;
  justify-self: center;
  align-items: center;
  column-gap: 0.5rem;
  border: 2px solid var(--color-network);
  border-radius: 4rem;
  padding: 0.75rem 1rem;
  color: var(--color-network);
}

.home__button span {
  font-weight: var(--font-semi-bold);
}

.home__button i {
  font-weight: 1.5rem;
  transition: transform 0.4s;
}

.home__button:hover {
  transform: translateX(0.5rem);
}

.home__interaction {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/*=============== SOCIAL ICONS ===============*/
.home__social {
  position: absolute;
  top: 4rem;
  left: 1.5rem;
  display: grid;
  justify-items: center;
  row-gap: 0.75rem;
  z-index: 10;
}

.home__social-link {
  font-size: 1.25rem;
  color: var(--black-color);
}

.home__social-border {
  width: 2px;
  height: 88px;
  background-color: var(--white-color);
  margin-bottom: 0.75rem;
}

.home__social-link:hover {
  color: var(--color-network);
}

/*=============== RESPONSIVE BREAKPOINTS ===============*/

/* Small devices */
@media screen and (max-width: 576px) {
  .nav__menu {
    width: 100%;
  }

  .home__titles {
    text-align: center;
  }

  .home__subtitle {
    font-size: 1.5rem;
  }

  .home__title {
    font-size: 3rem;
  }

  .home__button {
    width: 100%;
    justify-content: center;
  }
}

/* Medium devices */
@media screen and (min-width: 576px) and (max-width: 768px) {
  .nav__menu {
    width: 80%;
  }
}

/* Large devices */
@media screen and (min-width: 768px) and (max-width: 992px) {
  .nav__menu {
    width: 60%;
  }
}

/* Extra large devices */
@media screen and (min-width: 992px) {
  .nav__menu {
    width: 40%;
  }
}

/* Taller devices */
@media screen and (min-height: 700px) {
  .nav__menu {
    padding: 7rem 3.5rem 3.5rem;
  }
}
