/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 4.5rem;

  /*========== Colors ==========*/
  --red-color: hsl(0, 100%, 75%);
  --green-color: hsl(166, 90%, 40%);
  --blue-color: hsl(204, 90%, 50%);
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(210, 8%, 8%);

  /*========== Font and typography ==========*/
  --body-font: "Montserrat", sans-serif;
  --second-font: "Dancing Script", cursive;
  --biggest-font-size: 5rem;
  --big-font-size: 2rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 15rem;
    --big-font-size: 6rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--white-color);
  background-color: var(
    --black-color
  ); /* Set a background color for contrast */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 100%;
  margin-inline: 1.5rem;
}

.main {
  overflow: hidden;
}

/* network color classes */
.network__red {
  --color-network: var(--red-color);
}

.network__green {
  --color-network: var(--green-color);
}

.network__blue {
  --color-network: var(--blue-color);
}

/*=============== HEADER & NAV ===============*/

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: var(--z-fixed);
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Space between logo image and text */
  margin-inline: 2.5rem auto;
}

.nav__logo-img {
  height: 63.5px;
  width: auto;
}

.nav__logo,
.nav__link {
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
}

.nav__toggle,
.nav__close {
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
  border: 2px solid var(--white-color);
  border-radius: 50%;
  font-size: 1.25rem;
  cursor: pointer;
}

.nav__menu {
  position: fixed;
  top: 0;
  right: -100%;
  background-color: hsla(210, 8%, 8%, 0.7);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  width: 80%;
  height: 100%;
  padding: 7rem 3.5rem 3.5rem;
  transition: right 0.4s;
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.nav__close {
  position: absolute;
  top: 0.8rem;
  right: 1.5rem;
}

/* Show menu */
.show-menu {
  right: 0;
}

/* blurr header */
.blur-header::after {
  content: "";
  position: absolute;
  width: 1000%;
  height: 100%;
  background-color: hsla(210, 8%, 8%, 0.2);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  top: 0;
  left: 0;
}
/*=============== HOME ===============*/

/* Base */
.home__article {
  position: relative;
  padding-top: 12rem;
  width: 100%;
  height: 100vh;
}

/* Panels */
.home__panel-1 {
  width: 100%;
  height: 40%;
  background-color: var(--color-network);
  position: absolute;
  left: 0;
  top: 0;
}

.home__panel-2 {
  width: 100%;
  height: 60%;
  background-color: var(--black-color);
  position: absolute;
  left: 0;
  bottom: 0;
}

/* Content */
.home__content {
  position: relative;
  height: 100%;
  display: grid;
  align-content: space-between;
  z-index: 1;
}

.home__data {
  position: relative;
  /* margin-inline: 1.5rem; */
}

/* Titles  */
.home__titles {
  width: max-content;
  margin-inline: auto;
}

.home__subtitle {
  font-size: var(--big-font-size);
  font-family: var(--second-font);
}

.home__title {
  font-size: var(--biggest-font-size);
}

/* Img */

.home__img {
  min-width: initial;
  width: 400px;
  position: absolute;
  left: 0;
  bottom: -9.5rem;
}

/* Info */

.home__info {
  padding-bottom: 3rem;
  text-align: center;
  display: grid;
  row-gap: 1rem;
}

.home__specs {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-weight: var(--font-semi-bold);
  color: var(--color-network);
}

/* Buttonn */

.home__button {
  display: inline-flex;
  justify-self: center;
  align-items: center;
  column-gap: 0.5rem;
  border: 2px solid var(--color-network);
  border-radius: 4rem;
  padding: 0.75rem 1rem;
  color: var(--color-network);
}

.home__button span {
  font-weight: var(--font-semi-bold);
}

.home__button i {
  font-weight: 1.5rem;
  transition: transform 0.4s;
}

.home__button:hover {
  transform: translateX(0.5rem);
}

.home__interaction {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/*=============== SOCIAL ICONS ===============*/
.home__social {
  position: absolute;
  top: 4rem;
  left: 1.5rem;
  display: grid;
  justify-items: center;
  row-gap: 0.75rem;
  z-index: 10;
  margin-inline: 2rem;
}

/* design */
.home__social-link {
  font-size: 1.25rem;
  color: var(--black-color);
}

.home__social-border {
  width: 2px;
  height: 88px;
  background-color: var(--white-color);
  margin-bottom: 0.5rem;
}

.home__social-link:hover {
  color: var(--color-network);
}

/* Swiper Classes    */
.swiper {
  height: 100vh;
}

/* redesign */
.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: 65%;
  bottom: initial;
  display: flex;
  justify-content: center;
  column-gap: 0.5rem;
}

.swiper-pagination-bullet {
  width: 2.5rem;
  height: 2.5rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--white-color);
  opacity: 1;
  align-content: center;
  background: none;
}

.swiper-pagination-bullet-active {
  border: 2px solid var(--white-color);
}

/* Swiper Animation */

/*=============== RESPONSIVE BREAKPOINTS ===============*/

/* all devices */
@media screen and (max-width: 330px) {
  .container {
    margin-inline: 1rem;
  }

  .home__social {
    left: 0.5rem;
  }

  .home__title {
    font-size: 4rem;
    margin-inline: 1rem;
  }

  .home__img {
    width: 350px;
  }

  .home__specs span {
    font-size: var(--small-font-size);
  }
}

/* Small Devices */
@media screen and (min-width: 350px) and (max-width: 680px) {
  .swiper,
  .home__article,
  .home__interaction {
    height: 700px;
  }
}
/* Medium devices*/
@media screen and (min-width: 450px) {
  .home__img {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

/* Large devices */
@media screen and (min-width: 1150px) {
  .container {
    margin-inline: 1.5rem 1.5rem auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
  }

  .nav__menu {
    width: 40%;
    padding: 10rem 4rem 0;
  }

  .nav__list {
    row-gap: 4rem;
  }

  .nav__close {
    top: 1.7rem;
  }

  .home__panel-1 {
    width: 35%;
    height: 100%;
  }

  .home__panel-2 {
    width: 65%;
    height: 100%;
    left: initial;
    right: 0;
  }

  .home__article {
    padding-top: 4rem;
  }

  .home__subtitle {
    transform: translateY(3rem);
  }

  .home__img {
    width: 666px;
    bottom: -11.5rem;
    transform: translateX(20rem);
  }

  .home__info {
    justify-content: flex-end;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    columns: 6rem;
    padding-bottom: 1.5rem;
  }

  .home__specs {
    column-gap: 1.5rem;
    padding: 2rem;
  }

  .home__interaction {
    max-width: 1120px;
    left: 0;
    right: 0;
    margin-inline: auto;
  }

  .home__social {
    top: initial;
    bottom: 3rem;
    left: 0;
    row-gap: 1rem;
  }

  .home__social-border {
    height: 380px;
    margin-bottom: 3rem;
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal {
    width: initial;
    height: max-content;
    left: initial;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    flex-direction: column;
    row-gap: 2rem;
  }
}
/* Taller devices  */
@media screen and (max-width: 1150px) and (min-height: 800px) {
  .home__content {
    align-content: space-around;
    row-gap: 3rem;
  }
}

@media screen and (max-width: 1150px) and (min-height: 800px) {
  .home__article {
    padding: 7rem;
  }

  .home__info {
    padding-bottom: 3rem;
  }

  .home__social {
    bottom: 4.5rem;
  }
}

@media screen and (max-width: 1150px) and (min-height: 1000px) {
  .swiper,
  .home__article,
  .home__interaction {
    height: 900px;
  }
}
